::ng-deep .p-toolbar.toolbarS {
    margin: 0 auto;
    background-color: #ffffff;
    padding: 5px;
    border: #fff;
}


.toolbar__logo-container {
    max-width: 150px;
}
  
img {
    width: 100%;
    height: auto;
}


.icons-container {
    display: flex;
    justify-content: space-between;
}

.pi {
    font-size: 30px;
    margin-right: 10px;
    text-decoration:none;
    color: inherit;
}
  
  

@media (max-width: 768px) {
    .toolbar__logo-container {
        max-width: 100px;
    }

    ::ng-deep .p-toolbar.toolbarS {
        margin: 0 auto;
        background-color: #ffffff;
        padding: 5px;
        border: #fff;

    }

    .pi {
        font-size: 25px;
        margin-right: 8px;
    }

    
}
  